<?xml version="1.0"?>
<!--
Software License Agreement (BSD)
\file      description.urdf.xacro
\authors   Paul Bovbel <pbovbel@clearpathrobotics.com>, Devon Ash <dash@clearpathrobotics.com>
\copyright Copyright (c) 2015, Clearpath Robotics, Inc., All rights reserved.
Redistribution and use in source and binary forms, with or without modification, are permitted provided that
the following conditions are met:
 * Redistributions of source code must retain the above copyright notice, this list of conditions and the
   following disclaimer.
 * Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the
   following disclaimer in the documentation and/or other materials provided with the distribution.
 * Neither the name of Clearpath Robotics nor the names of its contributors may be used to endorse or promote
   products derived from this software without specific prior written permission.
THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WAR-
RANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, IN-
DIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<robot name="husky" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find husky_ur_description)/urdf/husky_ur5_description.urdf.xacro" />

  <xacro:arg name="laser_enabled" default="$(optenv HUSKY_LMS1XX_ENABLED false)" />
  <xacro:arg name="ur5_enabled" default="$(optenv HUSKY_UR5_ENABLED false)" />
  <xacro:arg name="kinect_enabled" default="false" />

  <!-- Insert Customizations Below -->


  <link name="ur5_top_plate">
    <visual>
      <geometry>
        <mesh filename="package://husky_custom_description/meshes/UR5_Top_Plate.STL"/>
      </geometry>
      <material name="black">
        <color rgba="0.1 0.1 0.1 1"/>
      </material>
    </visual>
  </link>

  <joint name="top_plate_link_to_base" type="fixed">
    <parent link="base_link"/>
    <child link="ur5_top_plate"/>
    <origin xyz="0.085 0.0 0.23" rpy="0.0 0.0 0.0"/>
  </joint>


  <link name="Arch">
    <visual>
      <geometry>
        <mesh filename="package://husky_custom_description/meshes/BIR03_Husky_Arch.STL"/>
      </geometry>
      <material name="black">
        <color rgba="0.1 0.1 0.1 1"/>
      </material>
    </visual>
  </link>

  <joint name="top_plate_link_to_Arch" type="fixed">
    <parent link="ur5_top_plate"/>
    <child link="Arch"/>
    <origin xyz="-0.375 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>
  
 <!-- load model of LMS1xx and mount -->
 <link name="sick_mount_link">
   <visual>
     <origin xyz="0 0 0" rpy="0 0 0"/>
     <geometry>
       <mesh filename="package://husky_custom_description/meshes/LMS1xx.STL"/>
     </geometry>
     <material name="white">
        <color rgba="0.4 0.4 0.4 1"/>
      </material>
   </visual>
   <collision>
     <origin xyz="0 0 0"/>
     <geometry>
       <mesh filename="package://husky_custom_description/meshes/LMS1xx.STL"/>
     </geometry>
   </collision>
 </link>
 <joint name="sick_mount_joint" type="fixed">
   <parent link="base_link" />
   <child link="sick_mount_link" />
   <origin xyz="0.470 0 0.17" rpy="0 0 0" />
 </joint>

<!-- Create laser link for LMS1xx data -->
 <link name="laser">
   <origin xyz="0 0 0" rpy="0 0 0"/>
 </link>

 <joint name="sick_sensor_joint" type="fixed">
   <parent link="sick_mount_link" />
   <child link="laser" />
   <origin xyz="0.0 0 0.0" rpy="0 0 0" />
 </joint>

<!-- Create link for GPS data -->
 <link name="navsat">
   <origin xyz="0 0 0" rpy="0 0 0"/>
 </link>

 <joint name="GPS_sensor_joint" type="fixed">
   <parent link="Arch" />
   <child link="navsat" />
   <origin xyz="0.01 0.26 0.50" rpy="0 0 0" />
 </joint>

  <link name="gripper">
    <visual>
      <geometry>
        <mesh filename="package://husky_custom_description/meshes/c_model_open.dae"/>
      </geometry>
      <material name="black">
        <color rgba="0.1 0.1 0.1 1"/>
      </material>
    </visual>
  </link>

 <joint name="gripper_joint" type="fixed">
   <parent link="ur_arm_tool0" />
   <child link="gripper" />
   <origin xyz="0 0 0.1" rpy="0 0 0" />
 </joint>

</robot>

